<%= form_tag(posts_path, :method => "get", id: "search-form", class: "search-form float-right") do%>
    <div class="form-inline my-2 my-lg-0">
        <%= text_field_tag :search, params[:search], placeholder: "Search posts", class: "form-control mr-sm-2"%>
        <%= submit_tag "Submit", :name => nil, class: "btn btn-secondary my-2 my-sm-0"%>
    </div>
<% end %>